[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-httpauth = "*"
passlib = "*"
flask-apispec = "*"
flask-babel = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
